<main>
    <h1 class="text-centr text-uppercase">Helo World</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">3 title one two</h3>

    <div class="display-1 text-muted">Hello world</div>
    <div class="display-5">Second</div>
    <div class="display-6">3 title</div>

    <div class="text-end">
        дополнительный <span class="display-6">текст</span>
    </div>

    <br>

    <div class="card">
        <div class="card-body">
            <a href="#" class="btn btn-primary">
                Test button
            </a>

        </div>
        <br>

    </div>

    <br>


    <div class="card">
        <div class="card-body">
            <div>my text</div>
            <div class="text-muted">my text</div>
            <div class="text-dark">my text</div>

        </div>
    </div>

    <br>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-secondary btn-lg">добавить</button>
            <button class="btn btn-outline-secondary">отредактировать</button>
            <button class="btn btn-outline-dark btn-sm">удалить</button>


        </div>

    </div>
</main>