<main>
    <h1 class="text-centr text-uppercase">Helo World</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">3 title one two</h3>

    <div class="display-1 text-muted">Hello world</div>
    <div class="display-5">Second</div>
    <div class="display-6">3 title</div>

    <div class="text-end">
        дополнительный <span class="display-6">текст</span>
    </div>

    <br>

    <div class="card">
        <div class="card-body">
            <a href="#" class="btn btn-primary">
                Test button
            </a>

        </div>
        <br>

    </div>

    <br>


    <div class="card">
        <div class="card-body">
            <div>my text</div>
            <div class="text-muted">my text</div>
            <div class="text-dark">my text</div>

        </div>
    </div>

    <br>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-secondary btn-lg">добавить</button>
            <button class="btn btn-outline-secondary">отредактировать</button>
            <button class="btn btn-outline-dark btn-sm">удалить</button>


        </div>

    </div>
</main>
<main>
    <section class="col-12">
        <div class="card text-bg-dark">
            <img class="card-img-top" src="https://picsum.photos/400/200" alt="Produkt foto">
            <div class="card-body">
                <h5 class="card-title text-bg-primary">product #19393</h5>
                <p class="text-bg-secondary">kbkg rgee ger ertert gh</p>
                <a href="/summary" class="btn btn-primary">open</a>

            </div>

        </div>
    </section>

    <section class="col-12">
        <div class="card text-bg-primary">
            <div class="card-header">
                <h6>Menu</h6>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="#" class="btn btn-link">home page</a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="btn btn-link">skils page</a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="btn btn-link">summary page</a>
                </li>
                <div class="card-footer">
                    <button class="btn btn-dark btn-sm">upd list</button>

                </div>


            </ul>
        </div>
    </section>


    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    #id
                </th>
                <th>
                    name
                </th>
                <th>
                    age
                </th>
            </tr>

        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>jon</td>
                <td>35</td>
            </tr>
            <tr>
                <td>2</td>
                <td>vano</td>
                <td>37</td>
            </tr>

        </tbody>

    </table>
    <br>
    <br>
    <br>
    <div class="card text-bg-success">
        <div class="card-header text-center">
            Header
        </div>
        <div class="card-body text-center">
            <h6 class="card-title">this is title</h6>
            <p>this is content of our box</p>
            <button class="btn btn-light">clic</button>
        </div>
        <div class="card-footer text-center">footer</div>
    </div>

    <section col-12>
        <div class="row g-5">
            <div class="col-4">
                <div class="card text-bg-success">
                    <div class="card-header text-center">
                        Header
                    </div>
                    <div class="card-body text-center">
                        <h6 class="card-title">this is title</h6>
                        <p>this is content of our box</p>
                        <button class="btn btn-light">clic</button>
                    </div>
                    <div class="card-footer text-center">footer</div>
                </div>

            </div>
            <div class="col-4">
                <div class="card text-bg-success">
                    <div class="card-header text-center">
                        Header
                    </div>
                    <div class="card-body text-center">
                        <h6 class="card-title">this is title</h6>
                        <p>this is content of our box</p>
                        <button class="btn btn-light">clic</button>
                    </div>
                    <div class="card-footer text-center">footer</div>
                </div>

            </div>
            <div class="col-4">
                <div class="card text-bg-success">
                    <div class="card-header text-center">
                        Header
                    </div>
                    <div class="card-body text-center">
                        <h6 class="card-title">this is title</h6>
                        <p>this is content of our box</p>
                        <button class="btn btn-light">clic</button>
                    </div>
                    <div class="card-footer text-center">footer</div>
                </div>

            </div>
            <div class="col-4">
                <div class="card text-bg-success">
                    <div class="card-header text-center">
                        Header
                    </div>
                    <div class="card-body text-center">
                        <h6 class="card-title">this is title</h6>
                        <p>this is content of our box</p>
                        <button class="btn btn-light">clic</button>
                    </div>
                    <div class="card-footer text-center">footer</div>
                </div>

            </div>
            <div class="col-4">
                <div class="card text-bg-success">
                    <div class="card-header text-center">
                        Header
                    </div>
                    <div class="card-body text-center">
                        <h6 class="card-title">this is title</h6>
                        <p>this is content of our box</p>
                        <button class="btn btn-light">clic</button>
                    </div>
                    <div class="card-footer text-center">footer</div>
                </div>

            </div>
            <div class="col-4">
                <div class="card text-bg-success">
                    <div class="card-header text-center">
                        Header
                    </div>
                    <div class="card-body text-center">
                        <h6 class="card-title">this is title</h6>
                        <p>this is content of our box</p>
                        <button class="btn btn-light">clic</button>
                    </div>
                    <div class="card-footer text-center">footer</div>
                </div>

            </div>


        </div>
    </section>

</main>